@charset "utf-8";
/* CSS Document */
html{ font-size:15.625vw;}/* 100vw除以设计图的百分之一*/
.margin{ width:1200px;margin:0 auto;}

header{background: #fafafa;border-bottom: 1px solid #f0f0f0;}
header .margin{display: flex;justify-content:space-between;font: 12px/30px "";}
header .top-l a{color: #333333; margin-right: 24px;}
header .top-l a:nth-child(1) i{width:15px; height:15px;background-image: url(../img/tvtimeicon.png);position: absolute;top: 7px;}
header .top-l a s{padding-left: 20px;color: #333333;}
header .top-l a:nth-child(2) i{width:15px; height:15px;background-image: url(../img/serviceicon.png);position: absolute;top: 7px;}
header .top-r{color: #777777;}
header .top-r a{color: #777777;}
header .top-r a s{padding-left: 20px;color: #777;}
header .top-r a i{width:17px; height:17px;background-image: url(../img/weixin.png);position: absolute;top: 7px;}
header .top-r span{padding: 10px;}

nav{border-bottom: 2px solid #bf0250; position: relative;}
nav .logo{float:left;width:190px;height:42px;margin-top: 24px;}
nav form{float:left;margin:31px 0 0 60px;border:none;}
nav form .txt{ float:left;width:398px; height:36px; background:none; border:2px solid #bf0250;color: #757575;}
nav form .btn{float:left;width:74px; height:40px;background:#bf0250; border:2px solid #bf0250;color: #fff;}
nav form .navtxt{display: block;font:12px/28px "";}
nav form .navtxt span{padding-right: 10px;color: #777777;}
nav .shop{display: block;float:left;width: 126px;height: 40px;font: 14px/40px "";color: #959595;text-align:center;background:#fafafa;border: 1px solid #959595;margin: 31px 30px 0 30px;}
nav .shop span{color: red;}
nav .nva-t{margin-top: 15px;overflow: hidden;}
nav .nav-t p{float:left;display: block;width: 200px;height: 38px;background: #bf0250;font: 18px/38px "";color: #fff;text-align: center;}
nav .nav-t ul{float: left;margin-left: 10px;}
nav .nav-t ul li{float: left;padding-left: 24px;}
nav .nav-t ul li a{display: block;font: 18px/38px "";color:#313131;}
nav .weixin{position: absolute;top: 15px; left: 1100px;}
nav .weixin p{font: 12px/28px "";color: #666;}

#main{padding-bottom: 30px;background: #ececec;}
#main .cont{display: flex;justify-content:flex-start;flex-wrap: wrap;}
#main .cont li{border: 1px solid #ef7e14;margin: 10px 5px 0 0;background: #fff;width: 230px;}
#main .cont li:hover{box-shadow:5px 3px 4px #666666}
#main .cont li img{width: 100%;}
#main .cont li p{font: 14px/2 "";color: #333;text-align: center;width: 210px;height: 60px;overflow: hidden;margin: 0 auto;}
#main .cont li span{font: 16px/2 "";color: red;display: block;width: 90px;margin: 0 auto;}
#main .cont li h3{display: block;width: 120px;margin: 0 auto;font: 16px/2 "";color: #fff;background: #ef7e14;text-align: center;margin-bottom: 5px;}
#setPageDiv{margin: 0 auto;background: #ececec;width: 300px;margin-top: 40px;font-size: 20px;}

#footer-t{border-top: 1px solid #dddddd;background: #fafafa;border-bottom: 1px solid #dddddd;}
#footer-t .ft-t ul{display: flex;justify-content:space-between;}
#footer-t .ft-t ul li{display: flex;}
#footer-t .ft-t ul li img{margin-top: 23px;height: 57px;}
#footer-t .ft-t ul li .qwe{margin: 23px 0 0 15px;}
#footer-t .ft-t ul li .qwe h3{font: 16px/26px "";color: #3b3b3b;}
#footer-t .ft-t ul li .qwe p{font: 16px/20px "";color: #666666;}
#footer-t .ft-t ul li .qwer h3{font: 16px/38px "";color: #3b3b3b;text-align: center;}
#footer-t .ft-t ul li .qwer p{font: 22px/24px "";color: #666;text-align: center;}
#footer-t .ft-t ul li .qwer h4{font: 14px/30px "";color: #666;text-align: center;}
#footer-t .ft-b{border-top: 1px solid #dddddd;}
#footer-t .ft-b ul{display: flex;justify-content:space-between;}
#footer-t .ft-b ul li h3{font: 16px/40px "";color: #666;margin-top: 5px;border-bottom: 1px solid #ddd;width: 185px;}
#footer-t .ft-b ul li p a{font: 12px/22px "";color: #333333;}
#footer-t .ft-b ul li p i{display:inline-block;border-bottom: 3px solid #333;height:3px;width: 3px;margin-right: 10px;}

footer{margin-bottom: 50px;}
footer p{font: 14px/22px "";color: #666666;text-align: center;}
footer .te{margin-top: 10px;}
footer p a{color: #666;}
footer p span{padding: 0 10px;}